html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
    margin: 20;
  padding: 20;
  color: brown;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  display: flex;
  
  background-image: url(puyo.jpg);
  align-items: center;  
  justify-content: center;
}

